<div id="users-content">
<div class="container">
<div class="row">


  <div class="col-lg-12">
 <%= render partial: "users/header" %>
  <div class="list-group">
  	<% if @user.tubuyakis.empty? %>
  	<div class="list-group-item">
  		まだツイートはありません
  	</div>
  	<% end %>
  </div>
  </div>
 <div class="col-lg-5 mt-3">
  <h1 class="text-center">
            <%= render_user_screen_name(@user) %> @ <%= @user.name %>
  </h1>
  <div class="my-5" style="overflow: auto;">
            <%= @user.bio %>
  </div>
 <p>出身</p>
  
  <p>ジャンル</p>

  <p>活動</p>

  <p>誕生日</p>
  
<% if @user.instagram.blank? %>
<% else %>
<p class="text-center">Instagram</p>
<div class="mx-auto">
<!-- InstaWidget -->
<%= @user.instagram.html_safe %>
</div>
<% end %>




 </div>
  <div class="col-lg-7 my-3">
  <div class="line-bc bg-secondary">
    <%= render partial: "users/tubuyaki", collection: @user.tubuyakis %>
    </div>
  </div>
  </div>
</div>
</div>