<div id="registrations-new">
<% if notice %>
    <p class="alert alert-secondary text-center"><%= notice %></p>
  <% end %>
  <% @user.errors.each do |attr, message| %>
        <div class="text-center alert alert-danger"><%= message %></div>
        <% end %>
<h1 class="text-center text-light" style="font-family: 'Julius Sans One', sans-serif; margin-top: 200px;">i - c o n t a c t</h1>

<!-- 目 -->
<div class="eyecard mt-5">
  <div class="eyecard-content">  
    <div class="eye">
      <!-- <div class="eye-inner"></div> -->
    </div>
  </div>
</div>
<!-- 目fin -->

<div class="container">
<div class="row">
  <div class="col-xs-6 col-lg-6 left-content">
      <!-- modal -->
      <div class="wrap">
      <button type="button" class="col-12 mt-5 button" data-toggle="modal" data-target="#exampleModalCenter" style="font-family: 'Julius Sans One', sans-serif;">
      Registration
      </button>
      </div>
  </div>
	<div class="col-xs-6 col-lg-6 right-content">

    <div class="wrap">
	  <%= link_to new_sessions_path, class:"col-xs-12 col-lg-12" do %>
    <button class="col-xs-12 col-lg-12 button mt-5 button">log-in</button>
    <% end %>
	  </div>
  </div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">新規会員登録</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for @user, url: registrations_path, method: :post do |f| %>
                <!-- エラーメッセージの表示 -->
        <div class="form-group">
         <%= f.label :name,"User-ID", class:"text-secondary" %>
         <%= f.text_field :name, class: "form-control", placeholder:"ユーザー名を入れてください" %>
        </div>
        <div class="form-group">
         <%= f.label :email,"email", class:"text-secondary" %>
         <%= f.text_field :email, class: "form-control", placeholder:"jin@gmail.com" %>
        </div>
        <div class="form-group">
         <%= f.label :password,"password", class:"text-secondary" %>
         <%= f.password_field :password, class: "form-control", placeholder:"6文字以上のパスワードを入れてください" %>
        </div>
        <div class="form-group">
         <%= f.label :password_confirmation,"password_confirmation", class:"text-secondary" %>
         <%= f.password_field :password_confirmation, class: "form-control", placeholder:"パスワード確認" %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= f.submit "登録する", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

</div>
</div>
</div>




<script type="text/javascript">
  var card = $(".eyecard");

$(document).on("mousemove",function(e) {  
  var ax = -($(window).innerWidth()/2- e.pageX)/20;
  var ay = ($(window).innerHeight()/2- e.pageY)/10;
  card.attr("style", "transform: rotateY("+ax+"deg) rotateX("+ay+"deg);-webkit-transform: rotateY("+ax+"deg) rotateX("+ay+"deg);-moz-transform: rotateY("+ax+"deg) rotateX("+ay+"deg)");
});
</script>