_panel.html.erb
 <% if logged_in? %>
<div class="card">
　<div class="img-position">
    <%= image_tag current_user.bgimage, style:"width: 100%; height: 200px; border-bottom: 5px solid #f5f5f5;" %>
    <%= image_tag current_user.image, style:"border-radius: 50%; width: 100px; height:100px; border: 5px solid #f5f5f5;", class:"img-position-absolute" %>
  </div>
  <div class="card-body mt-5">
    <%= link_to user_path(current_user), class: "user" do %>
     <h5 class="card-title"><%= render_user_screen_name current_user %>@<%= current_user.name %></h5>
    <% end %>

    <div class="user-activity">
              <div class="row">
                <div class="col-xs-4 tweets-num">
                  <div class="text">Tweet</div>
                  <div class="num"><%= link_to current_user.tubuyakis.count, user_path(current_user) %></div>
                </div>
                <div class="col-xs-4 follow-num">
                  <div class="text">Follow</div>
                  <div class="num">
                    <%= link_to current_user.inverse_followers.count, follows_user_path(current_user) %>
                  </div>
                </div>
                <div class="col-xs-4 follower-num">
                  <div class="text">Follower</div>
                  <div class="num">
                    <%= link_to current_user.followers.count, followers_user_path(current_user) %>
                  </div>
                </div>
              </div>
    </div>
    
  <% @tubuyaki.errors.full_messages.each do |message| %>
   <div class="alert alert-danger"><%= message %></div>
  <% end %>
  
  <%= form_for @tubuyaki do |f| %>
    <div class="form-group">
      <%= f.text_area :content, class: "form-control", id:"exampleFormControlTextarea1", rows:"3" %>
    </div>
      <%= f.submit "つぶやく", class: "btn btn-success" %>
  <% end %>

  </div>
</div>
 <% end %>