<div class="pos-f-t fixed-top">
<% if logged_in? %>
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="p-4" style="background-color: black;">
      <h5 class="text-white text-center" style="font-family: 'Julius Sans One', sans-serif;">M e n u</h5>
      <span class="text-light text-center">
        
      
          <%= link_to "All-Tweet", tubuyakis_path, class:"nav-link text-light" %>
       
          <%= link_to "All-User", users_path, class:"nav-link text-light" %>

          <%= link_to "My-Page", current_user, class:"nav-link text-light" %>
          <%= link_to "Setting", edit_settings_path, class:"nav-link text-light" %>
          <%= link_to "log-out", sessions_path, method: :delete, class:"nav-link text-light" %>

      </span>
    </div>
  </div>
  <nav class="navbar navbar-dark"  style="background-color: black;">

  <%= link_to 'i - c o n t a c t', root_url, class: "navbar-brand mx-auto", style:"font-family: 'Julius Sans One', sans-serif;" %>

<!--  <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button> -->
    </form>

    <button class="btn btn-outline-light" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
  <% end %>
</div>


<div class="pos-f-t">
<% if logged_in? %>
  <nav class="navbar navbar-dark"  style="background-color: black;">

<!--  <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button> -->
    </form>

    <button class="btn btn-outline-light" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
  <% end %>
</div>